fastdtw
progressbar
PyYAML>=5.1
torch
torchvision
pynvml
memory-profiler
imageio
numpy>=1.20.0
pytorch-metric-learning
tsaug
pandas
cvxpy
dgl~=0.6.1

psutil
networkx
urllib3
idna
certifi
pyparsing
cycler
kiwisolver>=1.0.1
h5py>=3
google